:root {
/* CSS HEX */
--slate-blue: #7067cfff;
--light-green: #7ee081ff;
--night-bordeaux: #561d25ff;
--midnight-violet: #2b1c2aff;
--shadow-grey: #161c2cff;
--prussian-blue: #001b2eff;
--charcoal-blue: #385163ff;
--slate-grey: #6f8697ff;
--powder-blue: #a6bbcbff;
--alice-blue: #ddf0ffff;
}
