:root {
  /* CSS HEX */
  --slate-blue: #7067cfff;
  --light-green: #7ee081ff;
  --night-bordeaux: #561d25ff;
  --midnight-violet: #2b1c2aff;
  --shadow-grey: #161c2cff;
  --prussian-blue: #001b2eff;
  --charcoal-blue: #385163ff;
  --slate-grey: #6f8697ff;
  --powder-blue: #a6bbcbff;
  --alice-blue: #ddf0ffff;
}
.text-info {
  color: var(--prussian-blue) !important;
}
.nav1 {
  background-color: var(--prussian-blue);
}
.btn-primary {
  background-color: var(--prussian-blue);
}
.btn-primary,
.btn-light {
  border-color: var(--prussian-blue);
}
.btn-red {
  background-color: var(--night-bordeaux);
  color: white;
}
.btn-red:hover {
  background-color: var(--night-bordeaux) !important;
  color: white !important;
}
.btn-light-red {
  color: var(--night-bordeaux);
  border-color: var(--night-bordeaux);
}
.btn-light-red:hover {
  background-color: var(--night-bordeaux) !important;
  color: white !important;
}
.btn-primary:hover,
.btn-light:hover {
  border-color: var(--prussian-blue);
  background-color: var(--prussian-blue);
}
.btn-light:hover {
  color: white;
}
