:root {
  /* CSS HEX */
  --slate-blue: #7067cfff;
  --light-green: #7ee081ff;
  --night-bordeaux: #561d25ff;
  --midnight-violet: #2b1c2aff;
  --shadow-grey: #161c2cff;
  --prussian-blue: #001b2eff;
  --charcoal-blue: #385163ff;
  --slate-grey: #6f8697ff;
  --powder-blue: #a6bbcbff;
  --alice-blue: #ddf0ffff;
}
.text-info {
  color: var(--prussian-blue) !important;
}
.nav1 {
  background-color: var(--prussian-blue);
}
.btn-primary {
  background-color: var(--prussian-blue);
}
.btn-primary,
.btn-light {
  border-color: var(--prussian-blue);
}
.btn-red {
  background-color: var(--night-bordeaux);
  color: white;
}
.btn-red:hover {
  background-color: var(--night-bordeaux) !important;
  color: white !important;
}
.btn-light-red {
  color: var(--night-bordeaux);
  border-color: var(--night-bordeaux);
}
.btn-light-red:hover {
  background-color: var(--night-bordeaux) !important;
  color: white !important;
}
.btn-primary:hover,
.btn-light:hover {
  border-color: var(--prussian-blue);
  background-color: var(--prussian-blue);
}
.btn-light:hover {
  color: white;
}
.enterBtn {
  visibility: hidden;
}
.my-row:hover .enterBtn {
  visibility: visible;
}
.my-row:hover a {
  text-decoration: underline;
  text-decoration-color: var(--prussian-blue);
}
a {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--prussian-blue) !important;
}

.star {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
  color: #fad707;
}
.x {
  display: none;
}
.up-btn {
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 0,
    "opsz" 40;
  background-color: var(--prussian-blue);
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  /* border: 1px solid; */
  border-color: var(--prussian-blue);
  box-shadow: 2px 2px 1px rgba(0, 27, 46, 0.258);
}
